
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>{% block main_header %}
        GYM WK MASLO <br>
        <h4>
        <a href="{% url 'main' %}"> MainPage </a> <br>
        </h4>
        {% endblock %}
    </h1>
    {% block content %}
    {% endblock %}

    {% block footer %}
    <br><br>
    GYM Maslo<br>

    <img src="{% static 'image.png' %}" /> <br>

              {% if user.is_authenticated %}
              Logged: {{ user }} <a href="{% url 'logout' %}">Logout</a>
              {% else %}
              <a href="{% url 'login' %}">LogIn</a>
              {% endif %}
    <br>
<!--    Lack of motivation? <a href="https://www.youtube.com/watch?v=0XdOEQyvbKY" >Check</a>-->
            {% endblock %}
</body>
</html>