{% extends "base.html" %}
{% block content %}

<h5>
    <a href='/login/'> LogIn </a> <br>
    <a href='/add_user/'> Register </a> <br>
    <a href='/logout/'> Logout </a> <br>
</h5>
                <h2>Welcome on our GYM website</h2> <br>
 <p>You can check our avaliable trainings below. Wish to participate in?  Please LogIn, if you don't have account yet then select Register. </p>

    <h3>
    <a href='/trainings/'> Trainings list </a> <br>
    <a href='/training_add/'> Add training </a> <br>
    <a href='/members/'> Members list </a> <br>
    <a href='/rooms/'> Rooms</a> <br>
    <a href='/room_add/'> Room add</a> <br>
    <a href='/staff/'> Staff</a> <br>
    <a href='/staff_add/'> Staff add </a> <br>
    <a href='/trainer_add/'> Add trainer list </a> <br>
    <a href='/trainers/'> Trainers list </a> <br>
    <a href='/reserve/'> Reserve  </a> <br>
    <a href='/reservation_details/'> My reservations  </a> <br>


{% endblock %}


