{% extends "base.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainings list</title>
    <style>
        table   {border: 1px solid black}
        td      {border: 1px solid black}
        tr      {border: 2px solid black}
    </style>
</head>
<body>
<h2> My reservations: </h2>
<br>
<table>
    <tr>
    <td> <b> Training
    <td> <b> Date
    <td> <b> Message to trainer
    <td> <b> Resign


    <tr/>

  {% for reservation, date, name in zipped %}

      <tr>
          <td>{{name}}</td>
          <td> {{date}} </td>
          <td>{{reservation.msg_to_trainer}}</td>
          <td> <a href="/reservation_delete/{{reservation.id}}">Cancel reservation</a></td>

      </tr>

    {% endfor %}

</table>
</body>
</html>

{% endblock %}