{% extends "base.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainings list</title>
    <style>
        table   {border: 1px solid black}
        td      {border: 1px solid black}
        tr      {border: 2px solid black}
    </style>
</head>
<body>
<h2> My reservations: </h2>
<br>
<table>
    <tr>
    <td> <b> Training
    <td> <b> Date
    <td> <b> Message to trainer


    <tr/>

  {% for reservation in reservations %}

      <tr>
          <td>{{reservation.training_id}}</td>
          <td> data </td>
          <td>{{reservation.msg_to_trainer}}</td>

      </tr>

    {% endfor %}


    {% for t in trainings %}
    {{t}}
    {% endfor %}

        {% for t in trainings_dates %}
    {{t}}
    {% endfor %}
</table>
</body>
</html>

{% endblock %}