
{% extends "base.html" %}
{% block content %}

  {% for tn in t_names  %}
{{t}}

{% endfor %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainings list</title>
    <style>
        table   {border: 1px solid black}
        td      {border: 1px solid black}
        tr      {border: 2px solid black}
    </style>
</head>
<body>
<h2>Trainings list: </h2>
<br>
<table>
    <tr>
    <td> <b> Training
    <td> <b> Trainer
    <td> <b> Date
    <td> <b> Hours
    <td> <b> Reserve

    <tr/>

  {% for tn, st, et, t in traning_list  %}

      <tr>
          <td>{{ tn }}</td>
          <td>{{ t.trainer }}</td>
          <td>{{ t.date }}</td>
          <td>{{ st }}-{{ et}}</td>
          <td> Reserve</td>
      </tr>

    {% endfor %}

</table>
</body>
</html>

{% endblock %}